@import bourbon
@import fonts
@import base
@import vars
@import buttons


.clearfix
	&:before, &:after
		content: ''
		display: table
	&:after
		clear: both

.no-pad
	padding: 0 !important

.mt100
	position: relative
	margin: -200px 0 0 0

.section
	padding: 5px 0

.main-header
	background: url('../images/bg.jpg')
	background-size: cover
	width: 100%
	height: 100vh
	position: relative


.container
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px
	&:after
		content: ''
		display: table
		clear: both

.container-fluid
	margin: 0 auto
	padding: 0 15px
	&:after
		content: ''
		display: table
		clear: both

.top_nav_wrap
	border-bottom: 1px solid $accent-color
	position: relative;
	padding: 35px 0 0
	&:after
		content: " "
		display: table
		clear: both

.top_nav_left
	float: left
	ul
		li
			display: inline-block
			margin-left: 40px
			a
				text-decoration: none
				text-transform: uppercase
				font-size: rem(11)
				font-weight: bold
				color: #000
			&:first-child
				margin-left: 0


.top_nav_right
	float: right
	text-align: center
	ul
		li
			display: inline-block
			margin-right: 40px
			a
				text-decoration: none
				text-transform: uppercase
				font-weight: bold
				color: #000
				font-size: rem(11)
				margin-top: -3px
				display: block
			img
				width: 17px
				height: auto
			&:last-child
				margin-right: 0

.logo_wrap
	position: absolute
	top: 0
	left: calc(50% - 89.5px)
	background: $main-color

.logo_img
	display: block
	background: url('../images/logo.png') no-repeat
	background-position: center 10px
	background-size: 100px
	height: 150px
	width: 175px

.logo_addr
	display: block
	background: $accent-color
	max-width: 175px
	padding: 5px 20px
	box-sizing: border-box
	p
		text-align: center
		font-size: rem(10)
		color: $main-color

.phone-wrapper
	position: relative

	.bt-menu-trigger
		position: absolute
		bottom: 0
		left: 0
		display: block
		width: 50px
		height: 50px
		cursor: pointer
		span
			position: absolute
			top: 50%
			left: 0
			display: block
			width: 100%
			height: 5px
			border-radius: 3px
			margin-top: -2px
			background-color: $main-color
			font-size: 0px
			user-select: none
			&:before
				position: absolute
				top: -15px
				left: 0
				width: 100%
				height: 100%
				background: $main-color
				border-radius: 3px
				content: ''
			&:after
				position: absolute
				top: 15px
				left: 0
				width: 100%
				height: 100%
				background: $main-color
				border-radius: 3px
				content: ''

	.phone
		display: block
		float: right
		text-align: right
		color: $main-color
		margin-top: 80px
		font-size: rem(30)
		line-height: rem(30)
		font-weight: bold
		a
			display: block
			background: $main-color
			color: #f3f3f1
			font-size: rem(11)

.title-wrapper
	text-align: center
	padding: 35px 60px
	background: rgba(255,147,30,0.9)
	margin-top: 50px
	span
		text-transform: uppercase
		color: $accent-color
		font-size: rem(18)
		font-weight: normal
	h1
		color: #f3f3f1
		font-size: rem(80)
		line-height: rem(100)
		font-weight: normal


.controls-nav
	position: relative
	text-align: right
	padding: 10px 0

	.controls
		position: absolute

	.c-prev
		right: 100px

	.c-next
		right: 50px


.search_wrap
	width: 100%
	background: $main-color
	color:
	position: absolute
	left: 0
	right: 0
	bottom: 0
	padding: 20px 0

.search_form
	float: right
	a
		text-decoration: none
		text-transform: uppercase
		color: #f3f3f1
		display: inline-block
		padding-top: 45px
		background: url('../img/more.png') center no-repeat
		vertical-align: middle
		margin: 0 20px 0 0px
		font-size: rem(8)


.nav-img-wrapper
	width: 80%
	float: right

.left-nav
	width: 18%
	float: left

	.menu-wrap
		padding-top: 40px

.site-menu
	a
		color: #000
		font-size: rem(12)
		font-weight: bold
		line-height: rem(24)
		text-transform: uppercase
		cursor: pointer

.imgbg
	width: 82%
	float: left
	img
		width: 100%

.location-section
	padding: 150px 0 60px

.location-wrapper
	width: 60%
	float: right

	.location-title
		font-size: rem(24)
		float: left
		width: 20%

	.location-text
		position: relative
		font-size: rem(16)
		color: #000
		padding: 10px
		float: left
		width: 60%
		.location-image
			position: absolute
			top: -400px
			left: 110px


.accomodation-section
	padding: 60px	0 0


.accomodation-wrapper
	width: 60%
	float: right
	background: #f5f4f5
	padding: 50px 75px 50px 40px

.accomodation-title
	width: 85%
	float: left

.accomodation-nav
	position: relative
	width: 15%
	float: left
	color: $main-color
	font-size: rem(14)
	margin: 25px 0
	text-align: center

	.controls
		position: absolute
		top: 0

	.c-prev
		left: 0

	.c-next
		right: 0


.accomodation-item__content

	.accomodation-image
		position: relative
		min-height: 1px
		width: 40%
		float: left
		&:before
			content: ''
			+size(50px)
			position: absolute
			top: 15px
			left: 15px
			background-image: url('../images/acc-target.png')
			background-repeat: no-repeat


	.accomodation-text
		position: relative
		min-height: 1px
		width: 60%
		float: left

		h3
			padding-top: 30px
			margin-bottom: 50px
		p
			font-size: rem(15)
			color: #000
			margin-bottom: 40px


.hightlights-section
	padding: 25px 0 50px

.hightlights-items-wrapper
	position: relative
	width: 96%
	background: #F5F4F5

	.hightlights-items
		position: relative
		width: 60%
		float: right
		margin-right: 55px

.hightlights__header
	border-bottom: 1px solid $accent-color
	margin-bottom: 40px

.hightlights-title
	width: 85%
	float: left

	h2
		color: $main-color

.hightlights-block
	padding-bottom: 40px
	float: right

.hightlights-item
	width: 250px
	height: 460px
	position: relative
	overflow: hidden
	float: left
	margin-left: 150px

	.hightlights-text
		position: absolute
		left: 0
		right: 0
		bottom: 0
		background: $main-color
		text-align: center
		color: #fff
		font-size: rem(16)
		padding: 20px 30px
		a
			color: #fff


.imgbg2
	width: 66%
	float: right
	img
		width: 100%

.hightlights-krakow
	width: 435px
	float: left
	text-align: justify
	color: #000
	font-size: rem(15)
	h2
		text-align: right

.hightlights-2-item
	position: relative
	top: -270px
	width: 360px
	float: left
	margin-left: 75px
	border-top: 10px solid $accent-color

	.hightlights-text
		text-align: center
		color: #fff
		font-size: rem(16)
		padding: 40px 35px 100px
		background: $accent-color
		h3
			color: $main-color
		a
			color: $main-color


.about-section
	position: relative
	background: url('../images/img-8.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center bottom
	margin-top: -130px;

	.about-bgi-wrapper
		position: relative
		z-index: 1

.about-text
	width: 960px
	margin: 0 auto
	background: #e5e5e5
	color: $accent-color
	text-align: center
	font-size: rem(13)
	padding: 10px
	position: relative
	z-index: 3
	top: -70px

.map-section
	padding: 20px 0 50px
	background: #fbfbfb
	margin-bottom: 50px

/*
 ***************
 * ROOMS
 * *************
 */

.header-rooms
	background: url('https://unsplash.it/1920/1080/?random')
	background-size: cover
	width: 100%
	height: 70vh
	position: relative

.navigation
	position: relative
	width: 100%
	margin-top: 50px
	padding: 15px 20px
	background: $accent-color

	.logo
		position: absolute
		top: -45px

	.rooms-nav
		text-align: right
		li
			display: inline-block
			margin-right: 20px
			a
				color: #fff
				font-size: rem(18)
				&:hover
					color: $main-color

	.social-menu
		text-align: right
		li
			display: inline-block
			margin-left: 10px

.rooms-page
	margin-bottom: 100px

.section-rooms
	.divider
		width: 50%
		position: absolute
		bottom: 10px
		left: 30%
		height: 2px
		background: $main-color
		border: 0

.section-rooms-r
	.divider
		width: 50%
		position: absolute
		bottom: 10px
		right: 30%
		height: 2px
		background: $main-color
		border: 0

.rooms-item-photo
	background: url('https://unsplash.it/1920/1080/?random')
	background-size: cover
	width: 100%
	height: 100%
	min-height: 400px
	position: relative

	.rooms-thumbs
		display: inline-block
		+position (relative, -30px null null 15px)
		li
			+size(110px)
			margin-bottom: 5px
			transform: scale(1)
			&:hover
				transform: scale(1.05)
			img
				width: 100%

.rooms-item-descr
	+position (relative, 50px 125px null null)
	width: 500px
	height: 300px
	background: $accent-color
	font-size: rem(13)
	padding: 30px

	.room-title
		color: $main-color
		font-size: rem(18)
		text-transform: uppercase
		margin-bottom: 25px

	.room-descr
		text-align: justify

	.room-book
		margin-top: 50px
		text-align: left
		a
			font-size: rem(14)

.section-rooms-r

	.rooms-thumbs
		display: inline-block
		+position (relative, -15px null null -15px)
		float: right

	.rooms-item-descr
		+position (relative, 50px null null 0)

		.room-title
			display: block
			text-align: right

		.room-book
			margin-top: 50px
			text-align: right
			a
				font-size: rem(14)

/*
 ***************
 * FOOTER
 * *************
 */
.footer
	position: relative
	width: 100%
	background: #fbfbfb
	font-size: rem(10)
	line-height: rem(18)
	color: #848383

	.footer-top-wrapper
		padding: 25px 0 30px
		text-transform: uppercase
		a
			font-size: rem(10)
			line-height: rem(18)
			color: #848383

		.footer-blocks
			float: left

		.f-logo
			width: 10%
			text-align: center

		.blk6
			width: 16.666667%

		.soc-links
			ul
				li
					display: inline-block
					margin-right: 20px

	.footer-bot-wrapper
		background: $accent-color
		padding: 10px 0
		color: #fff
		text-align: center
		font-size: rem(10)
		ul
			li
				display: inline-block
				margin-right: 80px


//ALWAYS END
@import media
