@import 'bourbon'
@import 'helpers/variables'

.location-section
	padding: 150px 0 135px

.location-image
	position: relative
	margin: -415px 0 0 0
	// img
	// 	width: 100%
	div
		margin-right: 80px

.location-wrapper

	.location-title
		font-size: rem(24)

	.location-text
		position: relative
		font-size: rem(16)
		color: #000
		padding: 10px
		.location-image
			position: absolute
			top: -400px
			left: 110px